<!doctype html>
<html lang="en">

<head>
    <title>Vehículos</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../imagenes/favicon/favicon.ico" type="image/x-icon"> <!-- logo favicon -->
    <link rel="stylesheet" href="../css/style.css"> <!-- link a css -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  <!-- libreria de íconos -->
    <script defer src="../js/components.js"></script>

</head>

<body>
    <header class="header" style="background-color: transparent;"></header>
    <main style="background-color: #141414;">

    </main>
    <section id="login-container" class="login-container" style="display: none"></section>
    <footer class="footer"></footer>
    <section class="copyright"></section>
    <button class="btn-scrolltop" id="btn_scrolltop"></button>
</body>

</html>